{% set PULP_RELEASE = "8.2" %}
{% set distro_requires %}
  <name op="=" value="RHEL-8.2.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set distro_type = "eus" %}
{% import "trees/rhel8-zstream.j2" as zstream with context %}
{% set repos = zstream.repos %}
{% set ks_append %}
  <ks_append><![CDATA[
%post
# Enable Buildroot for test dependencies
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://download.eng.rdu2.redhat.com/rhel-8/rel-eng/BUILDROOT-8/latest-BUILDROOT-8.2.0-RHEL-8/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
skip_if_unavailable=1
EOF
# Add Advanced VIRT repo, required for virt tests
cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
[rhel8-advvirt]
name=rhel8-advvirt
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.2.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
